.form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin: 0 auto;
}

.form__btn {
  width: 200px;
  height: 50px;
  padding: 10px 15px;
}
.input__name {
  margin-left: 15px;
}
.input__tag {
  margin-left: 15px;
}
.label__name {
  margin-right: 15px;
}
.radio__btn {
  display: flex;
  justify-content: space-around;
}
